main {
  padding: 0 60px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* Responsive grid */
  gap: 30px;
  max-width: 1280px;
  margin: 0 auto;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 16px;
}

.course-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stat-item img {
  width: 15px;
  height: 15px;
}

.what-you-learn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.what-you-learn ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.what-you-learn li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.what-you-learn li strong {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-all {
  cursor: pointer;
  color: #000;
  font-weight: 600;
}

details {
  border-bottom: 1px solid var(--gray);
}

summary {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.lesson-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.lesson {
  display: flex;
  justify-content: space-between;
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-image {
  background: var(--gray);
  border-radius: 10px;
  height: 225px;
}

.register-btn {
  background: var(--p1);
  color: var(--p2);
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

   @media (max-width: 900px) {

    nav ul {
      gap: 40px; /* Giảm khoảng cách menu */
    }
  
    main {
      padding: 0 30px;
      grid-template-columns: 1.2fr 0.8fr;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .course-stats {
      grid-template-columns: 1fr; /* Dồn lại một cột */
    }
  
    .course-image {
      height: 200px;
    }
  
    .register-btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 600px) {
  main {
      grid-template-columns: 1fr;
      padding: 0 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    p,
    .what-you-learn li strong {
      font-size: 14px;
    }
  
    .course-stats {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    summary {
      font-size: 16px;
    }
  
    .lesson {
      flex-direction: column;
      gap: 5px;
    }
  
    .course-image {
      height: 180px;
    }
  
    .register-btn {
      width: 100%;
      padding: 12px;
    }
  }
