.footer {
    background-color: var(--p1);
    color: var(--p2);
    padding: 50px 0 20px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.footer-col h6 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #fff;
}

.footer-col p,
.footer-col a {
    font-size: 1.4rem;
    color: var(--p2);
    text-decoration: none;
    opacity: 0.9;
    line-height: 1.8;
}

.footer-col a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-col ul {
    list-style-type: none;
}

.footer-col li {
    margin-bottom: 10px;
}

.footer-col .fa-brands {
    font-size: 25px;
    letter-spacing: 20px;
    text-align: end;
    margin-top: 20px;
}

.footer-col .fa-solid {
    font-size: 12px;
    margin-right: 10px;
}

.footer-col .fa-facebook {
    color: #435F9D;
}

.footer-col .fa-youtube {
    color: #E32F11;
}

.footer-bottom {
    text-align: left;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.3rem;
    opacity: 0.7;
}

@media(max-width: 900px){
    .footer-row {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }
    
    .footer-col {
        margin-bottom: 20px;
    }

    .footer-col ul {
        padding: 0;
    }

    .footer-col .fa-brands {
        text-align: center;
        letter-spacing: 15px;
    }

    .footer-col .fa-solid {
        margin-right: 5px;
    }
}