header {
    background-color: #fff;
    font-size: 2rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
}

header .left,
header .right {
    display: flex;
}

header .left {
    gap: 30px;
}

header .left ul,
header .right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

header .left li a,
header .right li a {
    color: var(--p1);
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 4.6rem;
    padding: 0 24px;
    font-weight: 600;
}

header .left li:hover a,
header .right li:hover a {
    cursor: pointer;
}

.header-user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--p2);
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px 0;
    cursor: pointer;
    vertical-align: middle;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin: 4px 0;
}

.right li:hover .user-menu {
    display: block;
}

.right .user-menu {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.right .user-menu.show {
    visibility: visible;
}

.right .user-menu a {
    font-size: 1.4rem;
}


.right .user-menu li:hover {
    color: #000;
    background-color: #ccc;
}

.right .user-menu li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.right .user-menu li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right .user-menu a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

.right ul li:last-child {
    position: relative;
}

@media (max-width: 900px) {
    /* ===  HEADER === */
    header .container {
        padding: 5px 15px;
    }

    header .left {
        gap: 15px; 
    }

    header .left img {
        position: relative;
        cursor: pointer;
    }

    header .left ul {
        visibility: hidden;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    header .left ul.show {
        visibility: visible;
    }

    header .left li {
        padding: 5px;
    }

    header .left li:hover {
        background-color: #ccc;
    }

    header a {
        font-size: 1.5rem;
    }
}
