* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p1: #3D322C;
    --p2: #FFF5E5;
}

html {
    font-size: clamp(7px, 0.4vw + 7.5px, 10px)
}

body {
    margin-top: 58px;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
}
